<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>OnlineStockAuction</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>controlers.login.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/LoginForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterRetailerServlet</servlet-name>
    <servlet-class>controlers.register.RegisterRetailer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterRetailerServlet</servlet-name>
    <url-pattern>/RegisterRetailerForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterFarmerServlet</servlet-name>
    <servlet-class>controlers.register.RegisterFarmer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterFarmerServlet</servlet-name>
    <url-pattern>/RegisterFarmerForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FarmerProfileLoaderServlet</servlet-name>
    <servlet-class>controlers.profile.FarmerProfileLoader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FarmerProfileLoaderServlet</servlet-name>
    <url-pattern>/FarmerProfileLoaderRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RetailerProfileLoaderServlet</servlet-name>
    <servlet-class>controlers.profile.RetailerProfileLoader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetailerProfileLoaderServlet</servlet-name>
    <url-pattern>/RetailerProfileLoaderRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminProfileLoaderServlet</servlet-name>
    <servlet-class>controlers.profile.AdminProfileLoader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProfileLoaderServlet</servlet-name>
    <url-pattern>/AdminProfileLoaderRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BidsControllerServlet</servlet-name>
    <servlet-class>controlers.bid.BidController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BidsControllerServlet</servlet-name>
    <url-pattern>/BidsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NotificationServlet</servlet-name>
    <servlet-class>controlers.notification.NotificationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NotificationServlet</servlet-name>
    <url-pattern>/NotificationRequest</url-pattern>
  </servlet-mapping>
</web-app>